PORT=3000
NODE_ENV=development

MONGODB_URI=mongodb://localhost:27017/auth_project

JWT_SECRET=cambia_esto_por_un_secreto_largo_y_random_32chars
SESSION_SECRET=otro_secreto_diferente_para_las_sesiones

GITHUB_CLIENT_ID=tu_github_client_id
GITHUB_CLIENT_SECRET=tu_github_client_secret
GITHUB_CALLBACK_URL=http://localhost:3000/api/v1/oauth/github/callback
